/* banner */
.banner {
    width: 100%;
    height: 414px;
    background-color: #afecdb;
}
.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 414px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 0 -450px;
    background-image: url("/practice/test5/img/background.png");
}

/* left */
.banner .left {
    height: 414px;
    width: 191px;
    background-color: rgba(0, 0, 0, 0.42);
    /* padding: 3px 0; */
}
.banner a {
    color: rgb(208, 208, 208);
    height: 46px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 46px;
    font-size: 15px;
    /* font-family: 楷体; */
}
.banner li {
    height: 46px;
    border: 1px solid #fff;
}
.banner li:hover {
    background-color: rgba(27, 159, 133, 0.84);
}
/* right */
.banner .right {
    margin: 78.5px 0;
    width: 191px;
    height: 257px;
    background-color: #f3f3f3a2;
}

