/* 基础样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.beseimg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
li {
    list-style: none;
}
body {
    font: 14px/1.5 楷体;
    color: #333;
}
a {
    color: #333;
    text-decoration: none;
}
