/* 首页样式 */
body {
    background-color: #f3f5f7;
}
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
    /* 头部样式 */
.header {
    height: 100px;
    background-color: #fff;
}
.header .wrapper {
    padding: 10px;
    display: flex;
}
.logo a{
    display: block;
    width: 195px;
    height: 80px;
    background-image: url("/practice/test5/img/logo.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0px;
}